{
  "$schema": "http://json.schemastore.org/prettierrc",
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 100,
  "semi": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "insertPragma": false,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.c", "*.h"],
      "options": {
        "parser": "c",
        "tabWidth": 4,
        "bracketSpacing": true,
        "singleQuote": false,
        "semi": true,
        "trailingComma": "none"
      }
    }
  ]
}